{% extends "av/base.html" %}

{% block content %}
<body>

        <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Create new Note</h2>
                <form action="{% url 'create_file' %}" method="post">
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Note Title</label>
                            <input class="form-control" placeholder="Note title"
                                   type="text" id="file_name" name="file_name"
                                   value="{{ file_data.name }}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div id="success"></div>
                    <div class="form-group">
                        <input type="submit" value="Submit"
                               class="btn btn-primary btn-xl">
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}
