{% extends "av/base.html" %}

{% block content %}

    <!-- Contact Section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p>Notes will be saved automatically in every 30 seconds</p>
                <form id="editor_form"
                      data-action="{% url 'update_file' file_id=file_id %}"
                      data-method="POST">
                    {% csrf_token %}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>File name</label>
                            <input class="form-control" placeholder="Note title"
                                   type="text" id="file_name" name="file_name"
                                   value="{{ file_data.name }}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Notes</label>
                            <textarea class="form-control" id="message"
                                      name="content" rows="5"
                                      placeholder="Keep a note">{{ file_data.content }}</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <input type="submit" value="Submit"
                               class="btn btn-primary btn-xl">
                    </div>
                    <p id="save_in_progress" class="hidden">Saving notes ...</p>

                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#save_in_progress').hide();
            setInterval(function () {
                console.log("submit");
                $('#editor_form').submit();
            }, 30000);
        });

        $('#editor_form').on('submit', function (event) {


            event.preventDefault();
            $('#save_in_progress').show();

            var form = $("#editor_form");
            var method = form.data('method');
            var url = form.data('action');
            var data = form.serialize();

            $.ajax({
                url: url,
                type: method,
                data: data,
                success: function (data) {
                    console.log('success');
                    $('#save_in_progress').hide();
                },
                error: function (data) {
                    console.log("error");
                    $('#save_in_progress').hide();
                }
            });
            return false;
        });

    </script>



{% endblock content %}
