{% extends "av/base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>List</h2>
            {% if files %}
                {% for file in files %}
                    <a class="lead" href="{% url 'editor_file' file_id=file.file_id %}">{{ file.name }}</a> <br/>
                {% endfor %}
            {% else  %}
                No notes created
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                           href="{% url 'create_file' %}">Create New Note</a>
            {% endif %}

            </div>
        </div>
    </div>

{% endblock content %}

